[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/KJ-jamila
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/KJ-jamila
	label-Verified = -1..+1 group user/KJ-jamila
	push = group user/KJ-jamila
	read = group user/KJ-jamila
	rebase = group user/KJ-jamila
	removeReviewer = group user/KJ-jamila
	submit = group user/KJ-jamila
[access "refs/heads/*"]
	create = group user/KJ-jamila
	push = +force group user/KJ-jamila
	pushMerge = group user/KJ-jamila
	read = group user/KJ-jamila
[access "refs/tags/*"]
	push = group user/KJ-jamila
	push = +force group user/KJ-jamila
